.calendar {
    padding: 1em;
    border-radius: 10px;
    
    display: grid;
    place-items: center;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    
    color: black;
    background-color: hsl(231, 20%, 85%);
  }
  
  .cell {
    width: 100%;
    padding: 0.4em 0.8em;
    text-align: center;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .cell:hover, .cell:focus {
    color: hsl(231, 20%, 85%);
    background-color: #bf4e30;
  }
  
  .cell:empty {
    width: 0;
    padding: 0;
  }
  
  .cell--unselectable {
    color: hsl(231, 20%, 50%);
    
  }
  
  .cell--unselectable:hover, .cell--unselectable:focus {
    color: hsl(231, 20%, 50%);
    background-color: transparent;
  }
  
  .date-text {
    padding: 1em 0.8em;
    grid-column: 1 / 5;
    justify-self: start;
    display: flex;
    align-items: center;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .button {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* OTHER */
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-family: 'Ubuntu', sans-serif;
    color: hsl(231, 20%, 85%);
    background-color: #121420;
  }
  
  h1 {
    margin: 0.5em 0;
  }
  